
@{
    ViewData["Title"] = "Qurban";
    Layout = "~/Views/Shared/_Layoutyat.cshtml";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header">
        <div class="container pt-lg-40 pb-lg-40">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-uppercase">program amanah qurban</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid pt-lg-0">
            <div class="row ">
                <div class="col-lg-9 p-ltr-100">
                    <ul style="text-align: justify;">
                        <li>
                            <p>Merupakan program tahunan yang diselenggarakan oleh Laznas Amanah Takaful dalam rangka membagi kebahagiaan di hari raya qurban dan mensyiarkan hari raya idul adha. Bentuk program berupa menghimpun dana atau hewan qurban yang dititipkan oleh masyarakat kepada YAT untuk kemudian didistribusikan ke sejumlah daerah yang masuk pada kriteria sebagai penerima bantuan. Alhamdulillah selama beberapa tahun program ini terlaksana dengan baik dan semakin banyak para pequrban yang mengamanahkan hewan qurban nya kepada kami. Sebagai bentuk pertanggung jawaban, kami lampirkan sertifikat qurban serta dokumentasi penyembelihan yang telah dilaksanakan.</p>
                        </li>
                    </ul>
                    <div style="text-align: center;" align="center">
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080050.jpg">
                            <img class="alignnone size-thumbnail wp-image-357" alt="P9080050" src="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080050-150x150.jpg" width="140" height="140" />
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080047.jpg">
                            <img class="alignnone size-thumbnail wp-image-358" alt="P9080047" src="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080047-150x150.jpg" width="140" height="140" />
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080063.jpg">
                            <img class="alignnone size-thumbnail wp-image-359" alt="P9080063" src="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080063-150x150.jpg" width="140" height="140" />
                        </a>
                    </div>
                </div>
                <!--sidebar-->
                <div class="col-sm-12 col-md-3 p-ltr-50 bg-sidebar">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Archives</h5>
                            <ul class="list-divider list-border list check">
                                <li><a href="#">Vehicle Accidents</a></li>
                                <li><a href="#">Family Law</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Case Investigation</a></li>
                                <li><a href="#">Business Taxation</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Twitter Feed</h5>
                            <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Image gallery with text</h5>
                            <div class="owl-carousel-1col">
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Tags</h5>
                            <div class="tags">
                                <a href="#">travel</a>
                                <a href="#">blog</a>
                                <a href="#">lifestyle</a>
                                <a href="#">feature</a>
                                <a href="#">mountain</a>
                                <a href="#">design</a>
                                <a href="#">restaurant</a>
                                <a href="#">journey</a>
                                <a href="#">classic</a>
                                <a href="#">sunset</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end sidebar-->
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->