
@{
    ViewData["Title"] = "Sosial";
    Layout = "~/Views/Shared/_Layoutyat.cshtml";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header">
        <div class="container pt-lg-40 pb-lg-40">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-uppercase">program amanah sosial dan kemanusian</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid pt-lg-0">
            <div class="row ">
                <div class="col-md-9 pl-lg-100 pt-lg-100 pr-lg-100">
                    <ul style="text-align: justify;">
                        <li>
                            <h3>Bantuan Fisabilillah.</h3>
                            <p>Pemberian bantuan dana untuk mendukung kegiatan-kegiatan yang diadakan oleh masyarakat dan lembaga-lembaga keagamaan dalam rangka syiar dakwah untuk ummat.</p>
                        </li>
                    </ul>
                    <ul style="text-align: justify;">
                        <li>
                            <h3>Bantuan Hidup & Santunan Anak Yatim.</h3>
                            <p>Pemberian santunan bagi dhuafa dan anak yatim yang ada di sekitar kita untuk meringankan bebannya. Bentuk bantuan berupa peralatan sekolah, santunan uang tunai.</p>
                        </li>
                    </ul>
                    <div style="text-align: center;">
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5851.jpg">
                            <img class="alignnone size-thumbnail wp-image-244" alt="DSCN5002" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5002-150x150.jpg" width="150" height="150">
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5858.jpg">
                            <img class="alignnone size-thumbnail wp-image-245" alt="DSCN5018" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5018-150x150.jpg" width="150" height="150">
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867.jpg">
                            <img class="alignnone size-thumbnail wp-image-246" alt="DSCN5867" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867-150x150.jpg" width="150" height="150" />
                        </a>>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867.jpg">
                            <img class="alignnone size-thumbnail wp-image-247" alt="DSCN5867" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867-150x150.jpg" width="150" height="150" />
                        </a>
                    </div>
                    <ul style="text-align: justify;">
                        <li>
                            <h3>Bantuan Muallaf.</h3>
                            <p>Pemberian bantuan dalam bentuk dana untuk saudara-saudara kita yang baru masuk Islam untuk mengukuhkan komitmen ke-Islaman dalam kehidupan sehari-hari</p>
                        </li>
                    </ul>
                    <ul style="text-align: justify;">
                        <li>
                            <h3>Bantuan Ghorimin.</h3>
                            <p>Pemberian bantuan dalam bentuk dana untuk membantu sesama yang ditimpa kemalangan sehingga ia berhutang kepada orang lain.</p>
                        </li>
                    </ul>
                    <ul style="text-align: justify;">
                        <li>
                            <h3>Bantuan Musibah / Bencana Alam.</h3>
                            <p>Program kemanusiaan Yayasan Amanah Takaful yang mengkhususkan pemberian bantuan untuk korban musibah atau bencana alam yang terjadi di sekitar atau wilayah Indonesia. Bentuk bantuan berupa kebutuhan logistik maupun dana.</p>
                        </li>
                    </ul>
                    <div style="text-align: center;">
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5851.jpg">
                            <img class="alignnone size-thumbnail wp-image-248" alt="DSCN5002" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5002-150x150.jpg" width="150" height="150">
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5858.jpg">
                            <img class="alignnone size-thumbnail wp-image-249" alt="DSCN5018" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5018-150x150.jpg" width="150" height="150">
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867.jpg">
                            <img class="alignnone size-thumbnail wp-image-250" alt="DSCN5867" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867-150x150.jpg" width="150" height="150" />
                        </a>>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867.jpg">
                            <img class="alignnone size-thumbnail wp-image-251" alt="DSCN5867" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5867-150x150.jpg" width="150" height="150" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 p-ltr-50 bg-sidebar">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Archives</h5>
                            <ul class="list-divider list-border list check">
                                <li><a href="#">Vehicle Accidents</a></li>
                                <li><a href="#">Family Law</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Case Investigation</a></li>
                                <li><a href="#">Business Taxation</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Twitter Feed</h5>
                            <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Image gallery with text</h5>
                            <div class="owl-carousel-1col">
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Tags</h5>
                            <div class="tags">
                                <a href="#">travel</a>
                                <a href="#">blog</a>
                                <a href="#">lifestyle</a>
                                <a href="#">feature</a>
                                <a href="#">mountain</a>
                                <a href="#">design</a>
                                <a href="#">restaurant</a>
                                <a href="#">journey</a>
                                <a href="#">classic</a>
                                <a href="#">sunset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->