
@{
    ViewData["Title"] = "Visi&Misi";
    Layout = "~/Views/Shared/_Layoutyat.cshtml";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header">
        <div class="container pt-lg-40 pb-lg-40">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-uppercase">visi & misi</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid pt-lg-0">
            <div class="row ">
                <div class="col-md-9 pl-lg-100 pt-lg-50 pr-lg-100">
                    <section class="text-center">
                        <h2>Visi & Misi</h2>
                        <div class="col-md-6">
                            <div class="icon-box iconbox-border p-40 mb-sm-50 iconbox-theme-colored">
                                <a href="#" class="icon icon-top icon-gray icon-circled icon-border-effect effect-circled"><i class="fa fa-diamond"></i></a>
                                <h5 class="icon-box-title">Visi</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="icon-box iconbox-border p-40 mb-sm-50 iconbox-theme-colored">
                                <a href="#" class="icon icon-top icon-gray icon-circled icon-border-effect effect-circled"><i class="fa fa-diamond"></i></a>
                                <h5 class="icon-box-title">Visi</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                    </section>
                </div>
                <!--sidebar-->
                <div class="col-sm-12 col-md-3 p-ltr-50 bg-sidebar">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Archives</h5>
                            <ul class="list-divider list-border list check">
                                <li><a href="#">Vehicle Accidents</a></li>
                                <li><a href="#">Family Law</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Case Investigation</a></li>
                                <li><a href="#">Business Taxation</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Twitter Feed</h5>
                            <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Image gallery with text</h5>
                            <div class="owl-carousel-1col">
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Tags</h5>
                            <div class="tags">
                                <a href="#">travel</a>
                                <a href="#">blog</a>
                                <a href="#">lifestyle</a>
                                <a href="#">feature</a>
                                <a href="#">mountain</a>
                                <a href="#">design</a>
                                <a href="#">restaurant</a>
                                <a href="#">journey</a>
                                <a href="#">classic</a>
                                <a href="#">sunset</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end sidebar-->
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->