
@{
    ViewData["Title"] = "Wakaf";
    Layout = "~/Views/Shared/_Layoutyat.cshtml";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header">
        <div class="container pt-lg-40 pb-lg-40">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-uppercase">program amanah al-qur'an</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid pt-lg-0">
            <div class="row ">
                <div class="col-md-9 pl-lg-100 pt-lg-100 pr-lg-100">
                    <ul style="text-align: justify;">
                        <li>
                            <p>Sebagai langkah pembinaan umat dan penyebaran nilai – nilai qur’ani di masyarakat, Laznas Amanah Takaful bekerjasama dengan PT. Asuransi Takaful Keluarga dan PT. Cordoba Internasional pada tanggal 7 Maret 2014 di panggung utama Islamic Book Fair telah melaunching sebuah program unggulan yang terus digencarkan yaitu Program Wakaf Al Qur’an yang bertemakan “Wariskan Al Quran untuk Generasi Bangsa”. Program ini diharapkan mampu mengajak masyarakat untuk ikut peduli dan mensyiarkan betapa pentingnya pendidikan dan pembinaan Al Qur’an di masyarakat khususnya dikalangan pelajar dan pemuda agar generasi harapan ummat dapat benar – benar tercipta dan dapat di andalkan dikemudian hari.</p>
                        </li>
                    </ul>
                    <div style="text-align: center;" align="center">
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080050.jpg">
                            <img class="alignnone size-thumbnail wp-image-59" alt="P9080050" src="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080050-150x150.jpg" width="140" height="140" />
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080047.jpg">
                            <img class="alignnone size-thumbnail wp-image-148" alt="P9080047" src="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080047-150x150.jpg" width="140" height="140" />
                        </a>
                        <a href="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080063.jpg">
                            <img class="alignnone size-thumbnail wp-image-367" alt="P9080063" src="http://amanahtakaful.org/wp-content/uploads/2014/04/P9080063-150x150.jpg" width="140" height="140" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 p-ltr-50 bg-sidebar">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Archives</h5>
                            <ul class="list-divider list-border list check">
                                <li><a href="#">Vehicle Accidents</a></li>
                                <li><a href="#">Family Law</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Case Investigation</a></li>
                                <li><a href="#">Business Taxation</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Twitter Feed</h5>
                            <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Image gallery with text</h5>
                            <div class="owl-carousel-1col">
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Tags</h5>
                            <div class="tags">
                                <a href="#">travel</a>
                                <a href="#">blog</a>
                                <a href="#">lifestyle</a>
                                <a href="#">feature</a>
                                <a href="#">mountain</a>
                                <a href="#">design</a>
                                <a href="#">restaurant</a>
                                <a href="#">journey</a>
                                <a href="#">classic</a>
                                <a href="#">sunset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->